/* Netroics admin style start here */

.netroics_left_style h1, .netroics__right_style h1 {
    font-size: 23px !important;
    color: black;
    font-weight: 800;
    box-shadow: 0px 2px 5px 0px #eee;
    padding: 10px 15px;
}

.netroics__admin_wrap.wrap {
    display: flex;
    background: #fff;
    padding: 30px;
    box-shadow: 0px 0px 5px 4px #dede;
    border-radius: 8px;
}

.netroics_left_style {
    flex: 0 0 70%;
    border-right: 1px solid #eee;
    margin-right: 30px;
}

.netroics__right_style {
    flex: 0 0 28%;
}

.netroicstp__dashboard_options {
    margin: 15px 0px;
    border-bottom: 1px solid #eee;
    padding: 8px;
}

.netroicstp__dashboard_options label {
    font-size: 15px;
    font-weight: 700;
    line-height: 25px;
}

.netroics_left_style input[type="submit"] {
    background-color: #000000;
    color: #fff;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
}

.netroics_left_style input[type="text"] {
    border: 1px solid #ced4da;
    padding: 5px;
}

.netroics__right_style p {
    font-size: 15px;
    line-height: 25px;
}

.netroics__right_style p {
    box-shadow: 0px 0px 5px 1px #eee;
    padding: 15px 15px;
    height: 100vh;
}